[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pmsesampling"]
	path = pmsesampling
	url = https://github.com/chenaters/pmsesampling
